@model IEnumerable<Waedist.Models.Useraccount>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminDashboardLayout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phonenumber)
                </td>
                <td>
                    <img src="@Url.Content("~/Images/"+ item.Pic)" style="height:250px ; width:250px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Roleid)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Userid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Userid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Userid">Delete</a>
                </td>
            </tr>








        }
    </tbody>
</table>











































@{
    Layout = "_AdminDashboardLayout";
}
































@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Create</title>
    </head>
    <body>

    <h4>Productstore</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Productid" class="control-label"></label>
                    <select asp-for="Productid" class ="form-control" asp-items="ViewBag.Productid"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Storeid" class="control-label"></label>
                    <select asp-for="Storeid" class ="form-control" asp-items="ViewBag.Storeid"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    </body>
    </html>*@




































